<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AlgoQuiz</title>
        <meta name="description" content="LeetQuiz: DSA Quiz App">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/img" href="/images/logo-favicon.png">
        
        <script>
            let questionDataRaw = "<%= JSON.stringify(questionData) %>";
        </script>
        <script src="/assets/quiz.js"></script>
        
        <link rel="stylesheet" href="/styles/common.css">
        <link rel="stylesheet" href="/styles/colors.css">
        <link rel="stylesheet" href="/styles/quiz.css">
        <link rel="stylesheet" href="/styles/question-list.css">

        <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container container-a">
            <%- include('partials/header.ejs') %>
            <div class="quiz-container">
                <div class="quiz-window">
                    <div class="quiz-left">
                        <div class="settings">
                            <div class="choose-difficulty">
                                <h2>DIFFICULTY:</h2>
                                <div class="checkbox-container original">
                                    <input type="checkbox" id="Easy" name="difficulty" value="Easy"> 
                                    <label for="Easy">Easy</label>
                                </div>
                                <div class="checkbox-container original">
                                    <input type="checkbox" id="Medium" name="difficulty" value="Medium"> 
                                    <label for="Medium">Medium</label>
                                </div>
                                <div class="checkbox-container original">
                                    <input type="checkbox" id="Hard" name="difficulty" value="Hard"> 
                                    <label for="Hard">Hard</label>
                                </div>
                            </div>
                            <div class="topics">
                                <div class="choose-topics">
                                    <h2>TOPICS:</h2>
                                    <div class="checkbox-container original">
                                        <input type="checkbox" id="Arrays" name="topics" value="Arrays"> 
                                        <label for="Arrays">Arrays</label>
                                    </div>
                                    <div class="checkbox-container original">
                                        <input type="checkbox" id="Two-Pointers" name="topics" value="Two-Pointers"> 
                                        <label for="Two-Pointers">Two Pointers</label>
                                    </div>
                                    <div class="checkbox-container original">
                                        <input type="checkbox" id="Sliding-Window" name="topics" value="Sliding-Window"> 
                                        <label for="Sliding-Window">Sliding Window</label>
                                    </div>
                                    <div class="checkbox-container original">
                                        <input type="checkbox" id="Stack" name="topics" value="Stack"> 
                                        <label for="Stack">Stack</label>
                                    </div>
                                    <div class="checkbox-container original">
                                        <input type="checkbox" id="Binary-Search" name="topics" value="Binary-Search"> 
                                        <label for="Binary-Search">Binary Search</label>
                                    </div>
                                    <div class="checkbox-container original">
                                        <input type="checkbox" id="Linked-List" name="topics" value="Linked-List"> 
                                        <label for="Linked-List">Linked List</label>
                                    </div>
                                    <div class="checkbox-container original">
                                        <input type="checkbox" id="Trees" name="topics" value="Trees"> 
                                        <label for="Trees">Trees</label>
                                    </div>
                                    <div class="checkbox-container original">
                                        <input type="checkbox" id="Heap" name="topics" value="Heap"> 
                                        <label for="Heap">Heap</label>
                                    </div>
                                    <div class="checkbox-container original">
                                        <input type="checkbox" id="Backtracking" name="topics" value="Backtracking"> 
                                        <label for="Backtracking">Backtracking</label>
                                    </div>
                                    <div class="checkbox-container original">
                                        <input type="checkbox" id="Graphs" name="topics" value="Graphs"> 
                                        <label for="Graphs">Graphs</label>
                                    </div>
                                    <div class="checkbox-container original">
                                        <input type="checkbox" id="DP" name="topics" value="DP"> 
                                        <label for="DP">DP</label>
                                    </div>  
                                    <div class="checkbox-container original">
                                        <input type="checkbox" id="Greedy" name="topics" value="Greedy"> 
                                        <label for="Greedy">Greedy</label>
                                    </div>
                                </div>
                            </div>
                            <div class="choose-set">
                                <h2>SET:</h2>
                                <select class="set original" name="set">
                                    <option value="all">All</option>
                                    <option value="custom">Custom</option>
                                    <option value="GDSC: Arrays">GDSC: Arrays</option>
                                </select>
                            </div>
                            <div class="clear-filters">
                                <button id="clear-filters" type="button" name="clear-filters">CLEAR FILTERS</button>
                            </div>
                        </div>
                    </div>
                    <div class="quiz-right">
                        <div class="question-header">
                            <h1><%= questionData.title %></h1>
                            <h2><%= questionData.difficulty %></h2>
                        </div>
                        <div class="quiz-body">
                            <div class="question-description">
                                <p><%= questionData.description %></p>
                                <div class="question-examples-container">
                                    <% for(var i=0; i<questionData.examples.length; i++) { %>
                                    <div class="question-example">
                                        <h3>Example <%= i+1 %>: </h3>
                                        <p>Input: <%= questionData.examples[i].input %></p>
                                        <p>Output: <%= questionData.examples[i].output %></p>
                                    </div>
                                    <% } %>
                                </div>
                                <div class="question-constraints">
                                    <h3>Constraints:</h3>
                                    <ul>
                                        <% for(var i=0; i<questionData.constraints.length; i++) { %>
                                        <li>
                                            <p class="code"><%= questionData.constraints[i] %></p>
                                        </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                            <div class="question-answer">
                                <p><%= questionData.questions[0].questionText %></p>
                                <div class="radio-container">
                                    <% for(var j=0; j<questionData.questions[0].options.length; j++) { %>
                                    <div class="radio-option">
                                        <input type="radio" id="answer-<%= j %>" name="answer" value="<%= j %>"> 
                                        <label for="answer-<%= j %>"><%= questionData.questions[0].options[j] %></label>
                                    </div>
                                    <% } %>
                                </div>
                                <div class="button-container-container">
                                    <div class="button-container">
                                        <button id="submit-answer" type="button" name="submit-answer">Submit</button>
                                        <button id="next-question-part" type="button" name="next-question-part">Next</button>
                                        <button id="next-question" type="button" name="next-question">Next Q</button>
                                    </div>
                                    <div class="button-container-icons">
                                        <button id="save-question" type="button" name="save-question">
                                            <img src="/images/quiz-ui/bookmark-add.png" alt="quiz question save">
                                        </button>
                                        <button id="unsave-question" type="button" name="save-question">
                                            <img src="/images/quiz-ui/bookmark-added.png" alt="quiz question save">
                                        </button>
                                        <button id="show-questions" type="button" name="show-questions">
                                            <img src="/images/quiz-ui/menu.png" alt="quiz question menu">
                                        </button>
                                        <button id="show-settings" type="button" name="show-settings">
                                            <img src="/images/quiz-ui/settings.png" alt="quiz settings">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="overlay">
                            <div class="overlay-settings">
                                <div class="choose-difficulty">
                                    <h2>DIFFICULTY:</h2>
                                    <div class="checkbox-container copy">
                                        <input type="checkbox" name="difficulty" value="Easy"> 
                                        <label for="Easy">Easy</label>
                                    </div>
                                    <div class="checkbox-container copy"">
                                        <input type="checkbox" name="difficulty" value="Medium"> 
                                        <label for="Medium">Medium</label>
                                    </div>
                                    <div class="checkbox-container copy"">
                                        <input type="checkbox" name="difficulty" value="Hard"> 
                                        <label for="Hard">Hard</label>
                                    </div>
                                </div>
                                <div class="topics">
                                    <div class="choose-topics">
                                        <h2>TOPICS:</h2>
                                        <div class="checkbox-container copy"">
                                            <input type="checkbox" name="topics" value="Arrays"> 
                                            <label for="Arrays">Arrays</label>
                                        </div>
                                        <div class="checkbox-container copy"">
                                            <input type="checkbox" name="topics" value="Two-Pointers"> 
                                            <label for="Two-Pointers">Two Pointers</label>
                                        </div>
                                        <div class="checkbox-container copy"">
                                            <input type="checkbox" name="topics" value="Sliding-Window"> 
                                            <label for="Sliding-Window">Sliding Window</label>
                                        </div>
                                        <div class="checkbox-container copy"">
                                            <input type="checkbox" name="topics" value="Stack"> 
                                            <label for="Stack">Stack</label>
                                        </div>
                                        <div class="checkbox-container copy"">
                                            <input type="checkbox" name="topics" value="Binary-Search"> 
                                            <label for="Binary-Search">Binary Search</label>
                                        </div>
                                        <div class="checkbox-container copy"">
                                            <input type="checkbox" name="topics" value="Linked-List"> 
                                            <label for="Linked-List">Linked List</label>
                                        </div>
                                        <div class="checkbox-container copy"">
                                            <input type="checkbox" name="topics" value="Trees"> 
                                            <label for="Trees">Trees</label>
                                        </div>
                                        <div class="checkbox-container copy"">
                                            <input type="checkbox" name="topics" value="Heap"> 
                                            <label for="Heap">Heap</label>
                                        </div>
                                        <div class="checkbox-container copy"">
                                            <input type="checkbox" name="topics" value="Backtracking"> 
                                            <label for="Backtracking">Backtracking</label>
                                        </div>
                                        <div class="checkbox-container copy"">
                                            <input type="checkbox" name="topics" value="Graphs"> 
                                            <label for="Graphs">Graphs</label>
                                        </div>
                                        <div class="checkbox-container copy"">
                                            <input type="checkbox" name="topics" value="DP"> 
                                            <label for="DP">DP</label>
                                        </div>  
                                        <div class="checkbox-container copy"">
                                            <input type="checkbox" name="topics" value="Greedy"> 
                                            <label for="Greedy">Greedy</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="set-clear-filters">
                                    <div class="choose-set">
                                        <h2>SET:</h2>
                                        <select class="set copy" name="set">
                                            <option value="all">All</option>
                                            <option value="custom">Custom</option>
                                            <option value="GDSC: Arrays">GDSC: Arrays</option>
                                        </select>
                                    </div>
                                    <div class="clear-filters">
                                        <button id="clear-filters" type="button" name="clear-filters">CLEAR FILTERS</button>
                                    </div>
                                </div>
                            </div>
                            <div class="questions-list">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Saved</th>
                                            <th>Completed</th>
                                            <th>Problem</th>
                                            <th>Difficulty</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox" name="saved" value="questionID"></td>
                                            <td><input type="checkbox" name="completed" value="questionID"></td>
                                            <td>Title</td>
                                            <td>Difficulty</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="overlay-close">
                                <button id="overlay-close" class="button">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html> 
